.toast {
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: 20px;
  color: #D15A39;
  background: #fff;
  padding: 5px 10px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.6);
  box-shadow: 0 0 3px 1px rgba(255, 255, 255, 0.6);
  display: none;
}
